<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body class="media1527">
    <footer>
        <div class="footer">
            <div class="footer__grid">
                <div>
                    <a class="footer__a" href="" [routerLink]="['/']">Ayuda</a>
                </div>
                <div>
                    <a class="footer__a" href="" [routerLink]="['/artistas']">Artistas</a>
                </div>
                <div>
                    <a class="footer__a" href="" [routerLink]="['/coleccion']">Colección</a>
                </div>
                <div>
                    <a class="footer__a" href="" [routerLink]="['/shop']">Noticias</a>
                </div>
                <div>
                    <a class="footer__a" href="" [routerLink]="['/exhibicion']">Exhibición</a>
                </div>
                <div>
                    <a class="footer__a" href="" [routerLink]="['/shop']">Shop</a>
                </div>
            </div>

            <div class="separator"></div>

            <div class="footer__grid1">

                <div class="footer__boletin">
                    <h2 class="footer__h2">Boletin informativo</h2>

                    <p class="footer__p">
                        Sé el primero en enterarte de nuestros eventos, exposiciones, artistas y mucho más.
                    </p>

                    <a class="footer__a" href=""><i style="font-size: 15px;" class="ri-arrow-right-line"></i> Suscribirse</a>
                   
                </div>

                <div class="footer__grid2">
                    <div class="footer__flex">
                        <h2 class="footer__h2">
                            Nuestras redes
                        </h2>

                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-twitter-fill"></i> Twitter</a>
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-youtube-fill"></i>Youtube</a>
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-facebook-circle-fill"></i>Facebook</a>

                    </div>

                    <div class="footer__flex">
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-wechat-fill"></i>Wechat</a>
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-instagram-fill"></i>Instagram</a>
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-whatsapp-fill"></i>WhatSapp</a>
                    </div>

                    <div class="footer__flex">
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-pinterest-fill"></i>Pinterest</a>
                        <a style="margin: 10px;" class="footer__a" href=""><i style="margin: 5px;" class="ri-spotify-fill"></i>Spotify</a>
                    </div>
                </div>


            </div>

            <div class="separator"></div>


            <div class="footer__grid3">
                <div>
                    <a style="font-size: 15px;" class="footer__a" href="">POLÍTICA DE PRIVACIDAD</a>
                </div>
                <div>
                    <a style="font-size: 15px;" class="footer__a" href="">POLÍTICAS DE COOKIES</a>
                </div>
                <div>
                    <a style="font-size: 15px;" class="footer__a" href="">CONDICIONES DE USO</a>
                </div>
                <div>
                    <a style="font-size: 15px;" class="footer__a" href="">PAUTAS DE FOTOGRAFÍA Y VIDEO</a>
                </div>
                <div>
                    <a style="font-size: 15px; color: black;
                    text-decoration: none;
                    position: relative;" href="">&copy; OBRAS DE ARTE &copy; EL ARTISTA. &copy; WHITE CUBE</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>