<div class="header__grid">
    <div>
        <a class="header__a" [routerLink]="['/artistas']">Artistas</a>
    </div>
    <div>
        <a class="header__a" [routerLink]="['/exhibicion']">Exhibicion</a>
    </div>

    <div class="header__traslate header__transform" >
        <a class="header__logo" [routerLink]="['/home']">white cube</a>
    </div>

    <div class="header__margin header__left">
        <a class="header__a" [routerLink]="['/coleccion']">Colección</a>
    </div>
    <div>
        <a class="header__a" [routerLink]="['/shop']">Noticias</a>
    </div>

    <div class="header__i">
        <a class="header__a">
            <i class=" ri-account-circle-line"></i>
        </a>
    </div>
</div>