<div class="acercaDe">
    <div class="acercaDe__flex">
        <h3 class="acercaDe__h3">acerca de</h3>

        <h1 class="acercaDe__h1">MATTY MATHESON</h1>
    </div>

    <div class="acercaDe__grid">
        <div class="acercaDe__flex1">
            <img class="acercaDe__img" src="../../../../assets/img/acercaDe.png" alt="" >
        </div>

        <div class="acercaDe__flex1">
            <p class="acercaDe__p">El hombre detrás del sabor. Todas las recetas están elaboradas por el legendario chef, restaurador y productor ejecutivo canadiense nominado al Emmy, Matty Matheson. Mejor conocido por sus restaurantes, los libros de cocina más vendidos del New York Times, su exitoso programa de televisión, The Bear y, ahora, productos básicos de despensa.

                “Siempre sentí que necesitábamos tener salsas y aderezos que tuvieran el mismo sabor que yo cocino. Quería que la gente de todas partes tuviera mis grandes y potentes sabores en sus hogares. Nuestro Green Olive es una oda a mi suegra, Carol. Nuestra salsa barbacoa se basa en la original de mi padre para costillas y pollo. Nuestro aderezo César queda tan fuego con lechugas y carnes. Probé muchos lotes antes de elegir los más sabrosos para ti. ¡Sírvelo, sumérgelo, bébelo!"</p>
        </div>
    </div>
</div>