<div class="contacto">

  <div class="contacto__grid">

    <div class="contacto__flexImg">
      <img src="../../../../assets/img/matty.png" alt="" width="100%" height="80%"/>
    </div>

    <div class="contacto__grid1">

      <div class="contacto__flex">
        <a class="contacto__a" [routerLink]="['/productos']">productos</a>
        <a class="contacto__a" [routerLink]="['/acerca-de']">acerca de</a>
        <a class="contacto__a" [routerLink]="['/recetas']">recetas</a>
        <a class="contacto__a" [routerLink]="['/encontrarnos']">ENCUÉNTRANOS</a>
      </div>
      
      <div class="contacto__flex">
        <a class="contacto__a" href="">instagram</a>
        <a class="contacto__a" href="">youtube</a>
        <a class="contacto__a" href="">tik tok</a>
        
        <p style="font-size: 14px; width: 100%">© COMPAÑÍA DE ALIMENTOS MATHESON 2023</p>
      </div>
    </div>

    <div class="contacto__flex1">
      <a class="contacto__a1" href="">HOLA@MATHESONFOODCOMPANY.COM</a>

      <div>
        <p>SUSCRÍBETE A NUESTRO BOLETÍN SABROSO</p>

        <div>
            <div style="position: relative;">
              <input class="contacto__input" type="email" id="email" name="email" placeholder="tu email">
              <button class="contacto__button" type="submit"><i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
          
      </div>
    </div>
  </div>
</div>
