<div class="section">
    <div class="section__red">
        <div class="section__grid">
            <div class="section__gridFlex">
                <h1>calidad</h1>
            </div>
            <div class="carousel">
                <app-slider></app-slider>
            </div>
            <div class="section__gridFlex">
                <h1>sabor</h1>
            </div>
        </div>
        <div class="section__h1Flex">
            <h1 class="section__h1">
                PRODUCTOS BÁSICOS DE DESPENSA <br /> DE <br /> MATTY MATHESON
            </h1>
        </div>
    </div>

    <div class="slider-container">
        <div class="sliderWord">
          <div class="slide-container">
            <div class="slideWord">MACARRONES CON QUESO • ADEREZOS PARA ENSALADAS • SALSAS BBQ • MACARRONES CON QUESO • ADEREZOS PARA ENSALADAS • SALSAS BBQ • MACARRONES CON QUESO • ADEREZOS PARA ENSALADAS • SALSAS BBQ • </div>
          </div>
        </div>
    </div>

    <div style="width: 100%;">
        <app-productos></app-productos>
    </div>

    <div>
        <app-acerca-de></app-acerca-de>
    </div>

    <div>
        <app-recetas></app-recetas>
    </div>

    <div>
        <app-encontrar></app-encontrar>
    </div>

    <div class="footer">
        <div class="containerFooter">
            <img class="footer__try" 
                src="../../../assets/img/try.png" 
                alt=""
            >
        </div>

        <div>
            <img class="footer__img" src="../../../assets/img/5.jpg" alt="">
        </div>

        <div>
            <img class="footer__them" src="../../../assets/img/them.png" alt="">
        </div>

        <div>
            <img class="footer__img1" src="../../../assets/img/section.png" alt="">
        </div>

        <div>
            <img class="footer__all" src="../../../assets/img/all.png" alt="">
        </div>
    </div>

    <div>
        <app-contacto></app-contacto>
    </div>
</div>