@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@1;200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  font-family: 'Ysabeau Infant', sans-serif;
}

.contenedor {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.header__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  /* border: 2px solid rebeccapurple; */
  width: 95%;
  padding: 1rem;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.5%, -290px);
  text-align: center;
  color: white;
}

.header__a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  position: relative;
}

.header__a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.header__a:hover::before {
  width: 100%;
}

.header__logo {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  letter-spacing: .4em;
  line-height: normal;
  font-weight: 500;
  font-size: 25px;
}

.header__i {
  /* border: 2px solid red; */
  transform: translateX(150px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 19px;
}

.header__t {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__h1 {
  font-size: 75px;
  letter-spacing: -.025em;
  font-weight: 500;
}

.header__h3 {
  font-size: clamp(1.8354493553799887rem, calc(1.8354493553799887rem + ((2.8801229450380377 - 1.8354493553799887) * ((100vw - 20rem) / (96 - 20)))), 2.8801229450380377rem);
  letter-spacing: -.025em;
  margin: 0;
  line-height: 1.1;
  font-weight: 400;
}

.header__p {
  font-size: 25px;
  line-height: 1.5;
  font-weight: 400;
}

.footer {
  padding: 2rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  padding: 2rem;
  padding-bottom: 3rem;
}

.footer__a {
  color: black;
  text-decoration: none;
  font-size: 19px;
  position: relative;
}

.footer__a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.footer__a:hover::before {
  width: 100%;
}

.separator {
  border-top: 1px solid #e0e0e0;
  /* Color gris claro (#e0e0e0) */
  margin: 20px 0;
  width: 104.5%;
  transform: translateX(-28px);
  /* Espacio de margen superior e inferior */
}

.footer__grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
}

.footer__boletin {
  padding: 2rem;
}

.footer__h2 {
  line-height: 1.5;
  font-size: 22px;
  font-weight: 600;
}

.footer__p {
  width: 40%;
  line-height: 1.5;
  font-weight: 300;
  font-size: 18px;
  padding: 1rem;
}

.footer__grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 70%;
  align-items: center;
  padding: 1rem;
}

.footer__flex {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.footer__grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  place-items: center;
}

/* .section {
  border: 2px solid red;
} */

.section__news {
  /* border: 2px solid darkblue; */
  padding: 1rem;
  margin: 10px;
}

.news__grid {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  grid-row-gap: 45px;
  justify-items: center;
}

.news__h2 {
  font-weight: 300;
  font-size: 27px;
  line-height: 1.1;
}

.news__span {

  font-weight: 600;
  font-size: 19px;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.news__fecha {
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .section__artist {
  border: 2px solid darkblue;
} */

.artists__grid {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  grid-row-gap: 45px;
  justify-items: center;
}

.artists__span {
  /* border: 2px solid darkblue; */
  font-weight: 600;
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artist__a {
  color: black;
  text-decoration: none;
  font-size: 19px;
  position: relative;
}

.artist__a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.artist__a:hover::before {
  width: 100%;
}

.exhibicion__grid {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.exhibicion__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exhibicion__grid1 {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.exhibicion__grid2 {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: black;
  height: 83.5vh;
}

.exhibicion__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.exhibicion__h5 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.5;
}

.exhibicion__h3 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -1px;
  padding-bottom: 5rem;
}

.exhibicion__back {
  background-color: black;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collect__grid {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.collect__back {
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 250px;
  margin: 30px;
}

.collect__h3 {
  width: 100%;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -1px;
}

.news__flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header__transform{
  transform: translateX(160px);
}

.header__left{
  margin-left: 250px;
}

/* @media (min-width: 1526px){
  .media1527{
    border: 2px solid red;
    width: 82.44%;
  }

  .header__grid {
    width: 72%;
    top: 45%;
    left: 42%;
}

.header__i {
  transform: translateX(100px);
  width: 0%;
}

  .contenedor{
    width: 99.9%;
  }

  .header__grid {
    width: 79%;
    top: 45%;
    left: 43%;
  }

  .header__t {
    left: 42%;
  }

  .artists__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 94%;
    padding: 1rem;
  }

  .exhibicion__grid {
    margin: 0 auto; 
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__a {
    transform: translateX(-30px);
}

  .exhibicion__grid2 {
    width: 100%;
    height: 67.8vh;
  }

  .collect__grid {
    width: 96%;
}

.news__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.width__news{
  width: 99%;
  transform: translateX(-17px);
}

.footer__grid {
  width: 95%;
}

.footer__grid1 {
  width: 100%;
}

.footer__grid3 {
  width: 100%;
}

.separator {
  border-top: 1px solid #e0e0e0;
  margin: 20px 0;
  transform: translateX(-28px);
}

.news__span {
  transform: translateX(-30px);
}

.news__fecha {
  transform: translateX(-30px);
}
} */


@media(min-width: 320px){
  .footer__grid3 {
    
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 20px;
    text-align: center;
}

.footer__grid1 {
 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
}

.footer__grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 70%;
  align-items: center;
  justify-items: center;
}

.footer__grid {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.news__grid {
 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.news__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-10px);
}

.collect__grid {
 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.collect__back {
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin: 30px;
  height: 90%;
}

.collect__img{
  display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.news__h2 {
  padding-top: 7rem;
}

.width__news{
  align-items: baseline;
}

.exhibicion__back {
  background-color: black;
  height: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exhibicion__img3{
  display: block;
    max-width: 100%;
    height: auto;
}

.exhibicion__grid2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  height: 100%;
 
}

.exhibicion__2{
  display: block;
  max-width: 100%;
  height: auto;
  padding-top: 2rem;
}

.exhibicion__grid1 {
  
  display: grid;
  grid-template-columns: 1fr;
}

.exhibicion__grid {

  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.exhibicion__img1{
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}

.exhibicion__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  padding: 0;
  margin: 10px;
}

.exhibicion__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibicion__width{
 
    width: 100%;
}

.artists__grid {
  display: grid;
  
  grid-template-columns: repeat(1, 1fr);
}

.contenedor {
  height: 130vh;
}

.header__grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 86%;
  margin: 10px;
  position: absolute;
  left: 47%;
  text-align: center;
  color: white;
}

.header__i {
  transform: translateX(135px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 19px;
}

.header__traslate{
  display: block;
  transform: translateX(0px);
  padding: 10px;
}

.header__margin{
  margin-left: 0px;
}

.header__i {
  transform: translateX(108px);
  padding: 1rem;
}

.separator {
  width: 123%;
}

.footer__p {
  width: 100%;
}

}


@media(min-width: 385px){
  .separator {
    width: 118%;
  }

  .news__translate{
    transform: translateX(25px);
  }

  .header__i {
    transform: translateX(135px);
}
}

@media(min-width: 445px){
  .separator {
    width: 115%;
}

.news__translate {
  transform: translateX(45px);
}

.header__i {
  transform: translateX(160px);
}
}


@media(min-width: 550px){
 .header__i {
    transform: translateX(200px);
}

.separator {
  width: 112%;
}

.header__h1 {
  width: 152%;
}

.contenedor {
  height: 110vh;
}

.artists__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

}

@media(min-width: 620px){
  .separator {
    width: 110%;
}

.header__i {
  transform: translateX(227px);
}

.header__i {
  transform: translate(-24px, 18px);
}

.header__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  width: 87%;
  margin: 10px;
  position: absolute;
  left: 49%;
  top: 54%;
  text-align: center;
  color: white;
  justify-items: center;
  align-items: center;
}

.header__traslate {
  transform: translateX(30px);
}

.header__a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  position: relative;
  margin: 10px;
}

.header__margin {
  margin-left: 45px;
}

.header__h1 {
  width: 135%;
}

.collect__back {
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 275px;
  margin: 30px;
}

.collect__img {
  width: 100%;
  margin: 0 auto;
}

.collect__height{
  padding: 2rem;
    margin: 10px;
    height: 100%;
}

.news__translate {
  transform: translateX(10px);
}

.news__grid {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  grid-row-gap: 46px;
  justify-items: center;
  align-items: center;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  grid-column-gap: 20px;
}

.footer__grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

}

@media(min-width: 715px){
  .separator {
    width: 109%;
}

.header__traslate {
  transform: translateX(72px);
}

.header__i {
  transform: translate(0px, 18px);
}

.header__margin {
  margin-left: 110px;
}

.header__grid {
  left: 50%;
  top: 54%;
}

.header__h1 {
  width: 118%;
}
}

@media(min-width: 810px){
  .separator {
    width: 108%;
}

.footer__grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.footer__grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.news__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.exhibicion__grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: black;
  height: 100%;
}

.exhibicion__margin{
  margin: 20px 0px;
}

.exhibicion__img3 {
  display: block;
  max-width: 100%;
  height: 548px;
}

.exhibicion__back {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exhibicion__grid1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.exhibicion__2 {
  padding-top: 5rem;
}

.exhibicion__margin{
  margin: 20px 0px;
  width: 95%;
}

.exhibicion__h3 {
  padding-bottom: 3rem;
}

.artists__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.exhibicion__grid {
  margin: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.exhibicion__img1 {
  height: 230px;
}

.exhibicion__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
 

@media(min-width: 810px){
  .separator {
    width: 107%;
}

.header__traslate {
  transform: translateX(150px);
  width: 164%;
}

.header__margin {
  margin-left: 219px;
}

.header__i {
  transform: translate(50px, 18px);
}

.header__h1 {
  width: 100%;
}
}

@media(min-width: 375px){
  .separator {
    width: 119%;
}
}

@media(min-width: 545px){
  .separator {
    width: 112%;
}

.header__i {
  transform: translateX(197px);
}
}

@media(min-width: 810px){
  .header__margin {
    margin-left: 210px;
}

.header__traslate {
  transform: translateX(126px);
  width: 166%;
}

.header__i {
  transform: translate(-5px, 18px);
}

.header__h1 {
  width: 103%;
}
}

@media(min-width: 910px){
  .separator {
    width: 107%;
}

.collect__img {
  width: 90%;
  margin: 0 auto;
}
}

@media(min-width: 960px){
  .separator {
    width: 106%;
}

.collect__img {
  width: 85%;
}

.exhibicion__img1 {
  height: 300px;
}

.header__margin {
  margin-left: 240px;
}

.header__i {
  transform: translate(60px, 18px);
}
}

@media(min-width: 1000px){
  .separator {
    width: 103%;
}

.header__h1 {
  width: 100%;
}

.header__grid {
  left: 49%;
  width: 95%;
}

.header__i {
  transform: translate(35px, 18px);
}

.header__traslate {
  transform: translateX(252px);
  width: 166%;
}

.header__margin {
  margin-left: 352px;
}
}

@media(min-width: 1005px){
  .header__i {
    transform: translate(0px, 18px);
}

.separator {
  width: 106%;
}
}

@media(min-width: 1023px){
  .header__margin {
    margin-left: 390px;
}

.header__i {
  transform: translate(40px, 18px);
}

.separator {
  width: 104%;
}

.artists__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.exhibicion__2 {
  max-width: 90%;
}

.collect__img {
  width: 80%;
}

.collect__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.collect__margin{
  margin: 5px 0px !important;
}
}

@media(min-width: 1063px){
  .header__margin {
    margin-left: 420px;
}

@media(min-width: 1079px){
  .header__i {
    transform: translate(47px, 18px);
}

.header__margin {
  margin-left: 450px;
  transform: translate(0px, -13px);
}
}

.header__i {
  transform: translate(45px, 18px);
}

.news__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
}

.header__margin {
  /* margin-left: 50px; */
  transform: translate(0px, -13px);
}

.header__i {
  transform: translate(55px, 5px);
}

.header__traslate {
  transform: translateX(275px);
}

.exhibicion__2 {
  max-width: 85%;
}