<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section__artist">

        <div style="margin: 10px; padding: 1rem;">
            <h2 class="news__h2">Colección</h2>
        </div>

        <div class="collect__grid">

            <div class="collect__back" >

                <div style=" padding: 2rem; margin: 10px; height: 70%;">
                    <h3 class="collect__h3">
                        Salón
                    </h3>

                    <div>
                        <p style="font-weight: 600; margin: 10px 0; width: 100%;">
                            Conozca un ejemplo destacado de arte contemporáneo y de posguerra de artistas tanto dentro como fuera de la lista de la galería, en nuestro programa mensual del Salón.                        </p>
                            
                        <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
                            Aprende más
                        </a>
                      </div>
                </div>
                <div>
                    <img src="../../../../assets/img/collect1.JPG" alt="" width="260px" height="247px" style="object-fit: cover;">  
                </div>
            </div>

            <div class="collect__back" >

                <div style=" padding: 2rem; margin: 10px; height: 70%;">
                    <h3 class="collect__h3">
                        Ferias de Arte                    </h3>

                    <div>
                        <p style="font-weight: 600; margin: 20px 0px; width: 100%;">
                            Obtenga una vista previa de las obras de arte seleccionadas para su presentación en nuestros stands en ferias de arte de todo el mundo.                        </p>
                            
                        <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
                            Aprende más
                        </a>
                      </div>
                </div>
                <div>
                    <img src="../../../../assets/img/collect2.JPG" alt="" width="260px" height="247px" style="object-fit: cover;">  
                </div>
            </div>

            <div class="collect__back" >

                <div style=" padding: 2rem; margin: 10px; height: 70%;">
                    <h3 class="collect__h3">
                        Obras disponibles 
                    </h3>

                    <div>
                        <p style="font-weight: 600; margin: 30px 0px; width: 100%;">
                            Descubra todas las obras de arte disponibles en la plataforma y pregunte sobre artistas específicos.                        </p>
                            
                        <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
                            Aprende más
                        </a>
                      </div>
                </div>
                <div>
                    <img src="../../../../assets/img/collect4.JPG" alt="" width="260px" height="247px" style="object-fit: cover;">  
                </div>
            </div>

            <div class="collect__back" >

                <div style=" padding: 2rem; margin: 10px; height: 70%;">
                    <h3 class="collect__h3">
                        Crear una cuenta
                    </h3>

                    <div>
                        <p style="font-weight: 600; margin: 30px 0px; width: 100%;">
                            Para ver una selección curada de obras de arte disponibles y acceder a la información de precios.   
                        </p>
                            
                        <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
                            Aprende más
                        </a>
                      </div>
                </div>
                <div>
                    <img src="../../../../assets/img/collect3.JPG" alt="" width="260px" height="247px" style="object-fit: cover;">  
                </div>
            </div>

           <div class="collect__back" >

                <div style="padding: 2rem; margin: 10px; height: 70%;">
                    <h3 class="collect__h3">
                        Envíos                    </h3>

                    <div>
                        <p style="font-weight: 600; margin: 30px 0px; width: 100%;">
                            Explore las muchas oportunidades de venta con un miembro dedicado de nuestro equipo de ventas experto.                        </p>
                            
                        <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
                            Aprende más
                        </a>
                      </div>
                </div>
                <div>
                    <img src="../../../../assets/img/collect5.JPG" alt="" width="260px" height="247px" style="object-fit: cover;">  
                </div>
            </div>
        </div>

    </section>
</body>
</html>