<div class="encontrar">
    <div class="encontrar__grid">
        <div style="display: flex; justify-content:center">
            <img class="encontrar__img" src="../../../../assets/img/encontrar.png" alt="" >
        </div>

        <div>
            <h1 class="encontrar__h1">DÓNDE ENCONTRARNOS</h1>

            <div class="encontrar__flex">
                <img src="../../../../assets/img/encontrar1.png" alt="" width="25%">
            </div>

            <div class="encontrar__flex">
                <img src="../../../../assets/img/encontrar2.png" alt="" width="25%">
            </div>

            <div class="encontrar__flex">
                <img src="../../../../assets/img/encontrar3.png" alt="" width="25%">
            </div>

            <div class="encontrar__flex">
                <img src="../../../../assets/img/encontrar4.png" alt="" width="25%">
            </div>

            <p class="encontrar__P">¡Y COMERCIOS INDEPENDIENTES EN TODO CANADÁ!</p>
        </div>
    </div>
</div>
