<!-- <h2>Lista de Usuarios Activos</h2>
    <ul>
      <li *ngFor="let pinturas of pinturas"
      [ngClass]="{'active': pinturas.active, 'inactive': !pinturas.active}"
      [ngStyle]="{'font-weight': pinturas.active ? 'bold' : 'normal'}"

      >

        <span *ngIf="pinturas.active || showInactive">{{ pinturas.name }}</span>
      </li>
    </ul>
    <button (click)="toggleInactive()">Mostrar Usuarios Inactivos</button> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="section__artist">
    <div style="margin: 10px; padding: 1rem;">
      <h2 class="news__h2">Exhibición</h2>
    </div>

    <!-- primer grid -->

    <div class="exhibicion__grid">
      <div>

        <div class="exhibicion__img">
          <img style="object-fit: cover;" src="../../../../assets/img/exhibicion1.JPG" alt="" width="600px"
            height="400px">
        </div>

        <div style="padding: 1rem;">

          <h5 class="exhibicion__h5">galeria exhibición</h5>

          <div class="exhibicion__flex">
            <div>
              <a class="footer__a" href="">
                <h3>
                  Cristina Kimeze
                </h3>
                <h5 class="exhibicion__h5" style="font-weight: 300; font-size: 14px;">
                  Algo más que el mundo podría saber
                </h5>
              </a>
            </div>

            <div>
              <span style="font-weight: 600;">
                9 junio – 27 julio 2023
              </span>
            </div>

          </div>

          <div>
            <p style="font-weight: 600; margin: 15px 0px; width: 70%;">
              Ambientada en espacios domésticos o paisajes abstractos, la serie de pinturas y obras sobre papel de
              Kimeze
              da forma a la rica quietud de nuestras vidas internas.
            </p>

            <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
              visita exhibición
            </a>
          </div>

        </div>


      </div>

      <!-- 2 -->

      <div>

        <div class="exhibicion__img">
          <img style="object-fit: cover;" src="../../../../assets/img/exhibicion2.JPG" alt="" width="600px"
            height="400px">
        </div>

        <div style="padding: 1rem;">

          <h5 class="exhibicion__h5">galeria exhibición</h5>

          <div class="exhibicion__flex">
            <div>
              <a class="footer__a" href="">
                <h3>
                  Nuevo moroísmo
                </h3>
              </a>
            </div>

            <div>
              <span style="font-weight: 600;">
                31 julio – 9 agosto 2023
              </span>
            </div>

          </div>

          <div>
            <p style="font-weight: 600; margin: 15px 0px; width: 70%;">
              Informados por su herencia compartida de Asia oriental, los artistas Michael Ho, Chris Huen Sin Kan,
              Timothy Lai y Su Yu-Xin exploran cada uno una nueva forma de moroísmo, un paradigma estético caracterizado
              por la ambigüedad y la indistinción.
            </p>

            <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
              visita exhibición
            </a>
          </div>

        </div>
      </div>


    </div>

    <!-- primer grid -->

    <!-- segundo grid -->

    <div class="exhibicion__grid1">
      <div>
        <h5 class="exhibicion__h5">feria de arte</h5>

        <div>
          
            <h3 class="exhibicion__h3">
              artmonte-carlo
            </h3>

            <span style="font-weight: 600;">
              8 y 9 de julio de 2023
            </span>
          
        </div>

        <div>
          <p style="font-weight: 600; margin: 30px 0px; width: 60%;">
            White Cube se complace en participar en artmonte-carlo 2023, presentando obras de artistas como Darren Almond, Georg Baselitz, Tracey Emin, Leonor Fini, Kazunori Hamana, Al Held, Marguerite Humeau, Imi Knoebel, Mimi Lauter, Sol Lewitt, Ibrahim Mahama, Isamu Noguchi, Virginia Overton, Park Seo-Bo y Takis.
          </p>

          <a style="padding-top: 2rem;" class="footer__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
            Ver presentación en línea
          </a>
        </div>

      </div>

      <div>
        <div>
          <img src="../../../../assets/img/exhibicion3.JPG" alt="" width="750px" height="auto">
        </div>
      </div>
    </div>
    <!-- segundo grid -->

    <!-- tercer grid -->

    <div class="exhibicion__grid2">
      <div>
        <div>
          <img src="../../../../assets/img/exhibicion4.JPG" alt="" style="object-fit: cover;" width="890px" height="530px">
        </div>
      </div>

      <div class="exhibicion__back"> 
        <div style=" width: 80%; transform: translateX(50px);">

          <h5 class="exhibicion__h5" style="color: white; font-weight: 800; font-size: 30px; letter-spacing: 1px;">salon</h5>
  
          <div>
            <a class="footer__a" href="">
              <h3 style="color: white; font-size: 35px; font-weight: 400;">
                anselm kiefer
              </h3>
            </a>
          </div>
  
          <div>
            <p style="font-size: 18px; color: white; font-weight: 600; margin: 30px 0px; width: 90%;">
              Lo invitamos a explorar nuestra presentación en línea actual del trabajo del mercado secundario en nuestro programa Salon mensual. Hasta la fecha, las presentaciones del mercado secundario de la galería han incluido obras de arte notables de Jean-Michel Basquiat, Alexander Calder, Carmen Herrera y Andy Warhol, entre otros.
            </p>
  
            <a style="padding-top: 2rem; color: white;" class="header__a"><i style="font-size: 15px;" class="ri-arrow-right-line"></i>
              Ver presentación en línea
            </a>
          </div>

        </div>

      </div>
    </div>

    <!-- tercer grid -->

  </section>
</body>

</html>