<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section__artist">

        <div class="width__artist" style="margin: 10px; padding: 1rem;">
            <h2 class="news__h2">Artistas</h2>
        </div>

        <div>
            <div class="artists__grid">
              <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" *ngFor="let noticias of noticias" [ngClass]="{'active': noticias.active, 'inactive': !noticias.active}"
                [ngStyle]="{'font-weight': noticias.active }">
      
                <img style="padding: 1rem;"  [src]="noticias.img" alt="Imagen del artista" width="200px" height="auto">
                <br>

                <a  class="artist__a" href="">
                    <span class="artists__span" *ngIf="noticias.active || showInactive">{{ noticias.name }}</span>
                    <br>
                </a>
    
              </div>
            </div>
          </div>

    </section>
</body>
</html>
